@font-face {
    font-family: NunitoSans-Regular;
    src: url(@/assets/fonts/static/NunitoSans_10pt-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(@/assets/fonts/static/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(@/assets/fonts/static/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Raleway;
    src: url(@/assets/fonts/static/Raleway-Regular.ttf);
}
@font-face {
    font-family: Raleway-Bold;
    src: url(@/assets/fonts/static/Raleway-Bold.ttf);
}
