// COLOR PALETTE
$clr1: #2d52da;
$clr2: #3fb8c6;
$clr3: #a3cb2a;
$clr4: #f6b821;
$clr5: #d21651;

$background-clr0: #1b2330;

$txt-clr0: #ffffff;
$txt-clr1: #323232;

// LAYOUT
$layoutPadding: 80px;
$bodylayoutPadding: 25px;

// LAYOUT BREAKPOINTS
// $break-narrow: 1200px;
// $break-normal: 1360px;
// $break-wide: 1920px;
$break-narrow: 754px;
$break-normal: 1360px;
$break-wide: 1920px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;